<!DOCTYPE html>
<!--
  ~ Copyright Vincent Blouin under the GPL License version 3
  -->

<html lang="en" data-i18n="[lang]locale">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta description="" data-i18n=[description]meta.description>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title data-i18n="landing.title"></title>
    <script>
        var requireJsConfig = <%- JSON.stringify(requireJsConfig) %>
    </script>
    <link rel="icon" href="/css/images/logo_tete.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker3.min.css"/>
    <link rel="stylesheet" href="/js/vendor/node_modules/ekko-lightbox/dist/ekko-lightbox.css"/>
    <link rel="stylesheet" href="/css/twitter_bootstrap/bootstrap-modal-carousel.min.css"/>
    <link rel="stylesheet" href="/css/jquery/colorbox/colorbox.css"/>
    <link rel="stylesheet" href="https://cdn.bootcss.com/intro.js/2.8.0-alpha.1/introjs.min.css"/>
    <link rel="stylesheet" href="/css/application.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/js/vendor/node_modules/google-code-prettify/bin/prettify.min.css"/>
    <link rel="stylesheet" href="/css/timeline.css"/>
    <!--Modules-->
    <link rel="stylesheet" href="/js/module/date_picker/date-picker.css"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">
    <!-- Latest compiled and minified CSS -->

    <script src="/js/vendor/node_modules/requirejs/require.js"></script>
</head>
<body class='hidden' id="body">
<div id="overlay" class="overlay hidden"></div>
<i class="loading hidden fa fa-refresh fa-spin fa-4x fa-fw"></i>
<span class="loading sr-only hidden" data-i18n="loading"></span>
<div id="tree-list-copy-dump"></div>
<div id="drag-bubble-text-for-chrome"></div>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" id="logo" href="/?flow=landing"><img class="logo-navbar img-responsive"
                                                                         data-i18n="[alt]landing.title;[title]landing.title"
                                                                         src="/css/images/logo_horizontal.png"></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <form class="navbar-form navbar-left " role="search" id="header-search-form">
                        <input type='text' id="landing-page-search" class='input-lg search-box hidden'
                               data-i18n="[placeholder]search.big.placeholder"/>
                        <input id="vertex-search-input" data-i18n="[placeholder]left_menu.search"
                               class='input-lg search-box hidden'>
                        <label for="landing-page-search" class="hidden">
                            <span class="glyphicon glyphicon-search search-icon"></span>
                        </label>
                        <label for="vertex-search-input" class="hidden">
                            <span class="glyphicon glyphicon-search search-icon"></span>
                        </label>
                    </form>
                </li>
                <li class="dropdown">
                    <a data-toggle="dropdown" id="connect-menu-button">
                        <span data-i18n="top_menu.connect"></span>
                        <i class="fa fa-user-circle-o"></i>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <li>
                            <a href="#" id="login-button" data-i18n="top_menu.login"></a>
                        </li>
                        <li>
                            <a href="#" id="register-button" data-i18n="top_menu.register"></a>
                        </li>
                    </ul>
                </li>

                <li class="dropdown" id="bubble-menu">
                    <a data-toggle="dropdown">
                        <span data-i18n='top_menu.bubble'></span>
                        <i class="fa fa-circle-o"></i>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <li>
                            <a href="" id="create-concept" class="create icon" role="menuitem"
                               data-i18n='top_menu.create'></a>
                        </li>
                        <li class="dropdown">
                            <a href="/" id="all-your-bubbles-button">
                                <i class="fa fa-code-fork"></i>
                                <span data-i18n='top_menu.central'></span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dev-only hidden dropdown" id="schema-menu">
                    <a data-toggle="dropdown">
                        <i class="fa fa-object-group"></i>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <li>
                            <a href="" id="create-schema" class="create icon" role="menuitem"
                               data-i18n='top_menu.create'></a>
                        </li>
                        <li>
                            <a href="/schemas" class="view icon" data-i18n='top_menu.schemas'></a>
                        </li>
                    </ul>
                </li>
                <!--<li class="dropdown" id="create-menu">-->
                <!--<a data-toggle="dropdown" data-i18n='top_menu.create.title'></a>-->
                <!--<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">-->
                <!--<li>-->
                <!--<a href="" id="create-concept" role="menuitem"-->
                <!--data-i18n='top_menu.create.bubble'></a>-->
                <!--</li>-->
                <!--<li>-->
                <!--<a href="" id="create-schema" role="menuitem"-->
                <!--data-i18n='top_menu.create.schema'></a>-->
                <!--</li>-->
                <!--</ul>-->
                <!--</li>-->
                <li id="settings-container">
                    <a data-toggle="dropdown">
                        <i class="fa fa-gear"></i>
                    </a>
                    <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                        <li class="dropdown-submenu" id="language-selector-container">
                            <a data-toggle="dropdown">
                                <i class="fa fa-globe"></i>
                                <span data-i18n="top_menu.language"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="" data-lang="en" role="menuitem">
                                        English
                                    </a>
                                </li>
                                <li>
                                    <a href="" data-lang="fr" role="menuitem">
                                        Français
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="" role="menuitem" id="backgnd-color-btn">
                                <i class="fa fa-paint-brush"></i>
                                <span data-i18n="top_menu.color"></span>
                            </a>
                            <ul class="color-picker">
                                <li class>
                                    <input id="background-color-picker" type="color" value="#0b46ff">
                                    <span data-i18n="top_menu.background_color"></span>
                                </li>
                                <li>
                                    <input id="bubbles-color-picker" type="color" value="#F2D9AC">
                                    <span data-i18n="top_menu.bubbles_color"></span>
                                </li>
                                <li>
                                    <input id="relations-color-picker" type="color" value="#3a87ad">
                                    <span data-i18n="top_menu.relations_color"></span>
                                </li>
                            </ul>
                        </li>

                        <li id="user-menu">
                            <a href="" role="menuitem" id="disconnect-btn">
                                <i class="fa fa-sign-out"></i>
                                <span data-i18n="top_menu.disconnect"></span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a data-i18n='[href]top_menu.contribute_link'>
                        <span data-i18n='top_menu.contribute'></span>
                        <i class="fa fa-code"></i>
                    </a>
                </li>
                <li data-i18n="[title]top_menu.share">
                    <a class="hidden" id="share-link" href="#" target="_blank">
                        <i class="fa fa-share-alt"></i>
                    </a>
                    <input type="text" class="hidden form-control input-lg" id="share-link-input">
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<nav class="navbar navbar-default navbar-lower hidden" role="navigation" id="whole-graph-buttons-container">
    <div class="container">
        <div class="collapse navbar-collapse collapse-buttons">
            <div class="navbar-form navbar-left" role="search">
                <div id="graph-element-menu" class="main-panel hidden-sm hidden-xs hidden" data-flow="mindMap">
                    <button data-action="accept" data-icon="fa-check"
                            class="graph-element-button in-label-button"></button>
                    <button data-action="addChild" data-icon="fa-arrow-right" class="graph-element-button"></button>
                    <button data-action="addSibling" data-icon="fa-arrow-down" class="graph-element-button"></button>
                    <button data-action="copy" data-icon="fa-copy" class="graph-element-button clipboard-copy-button"
                            data-clipboard-action="copy" data-clipboard-target="#tree-list-copy-dump"></button>
                    <button data-action="subElements" data-icon="fa-expand" class="graph-element-button"></button>
                    <button data-action="reverseToRight" data-combinedShortcut="I" data-icon="fa-share"
                            class="graph-element-button"></button>
                    <button data-action="reverseToLeft" data-combinedShortcut="I" data-icon="fa-reply"
                            class="graph-element-button"></button>
                    <button data-action="center" data-combinedShortcut="0" data-icon="fa-bullseye"
                            class="graph-element-button"></button>
                    <button data-action="expand" data-combinedShortcut="E" data-icon="fa-leaf"
                            class="graph-element-button"></button>
                    <button data-action="collapse" data-combinedShortcut="H" data-icon="fa-leaf"
                            data-additionalClass="fa-strike"
                            class="graph-element-button"></button>
                    <button data-action="wikipediaLinks" data-icon="fa-wikipedia-w"
                            class="graph-element-button in-label-button"></button>
                    <button data-action="visitOtherInstances"
                            class="graph-element-button in-label-button visit-other-instances">
                            <span class="fa-stack fa-1x" style="">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <strong class="fa-stack-1x fa-stack-text fa-inverse nb-other-instances"></strong>
                            </span>
                    </button>
                    <button data-action="identify" data-combinedShortcut="G" data-icon="fa-tag"
                            class="graph-element-button in-label-button"></button>
                    <button data-action="identifyWhenMany" data-combinedShortcut="G" data-icon="fa-tags"
                            class="graph-element-button in-label-button"></button>
                    <button data-action="suggestions" data-combinedShortcut="S" data-icon="fa-lightbulb-o"
                            class="suggestion graph-element-button"></button>
                    <button data-action="note" data-combinedShortcut="D" data-icon="fa-book"
                            class="note-button graph-element-button in-label-button"></button>
                    <button data-action="images" data-icon="fa-picture-o" class="graph-element-button"></button>
                    <button data-action="paste" data-combinedShortcut="V" data-icon="fa-paste"
                            class="graph-element-button"></button>
                    <button data-action="cut" data-combinedShortcut="X" data-icon="fa-cut"
                            class="graph-element-button"></button>
                    <button data-action="makePublic" data-combinedShortcut="P" data-icon="fa-unlock"
                            class="graph-element-button in-label-button"></button>
                    <button data-action="makePrivate" data-combinedShortcut="P" data-icon="fa-lock"
                            class="graph-element-button in-label-button"></button>
                    <button data-action="group" data-icon="fa-compress" class="dev-only graph-element-button"></button>
                    <button data-action="remove" data-icon="fa-trash-o" class="graph-element-button"></button>
                    <button data-action="convertToRelation" data-combinedShortcut="O" data-icon="fa-arrows-h"
                            class="graph-element-button"></button>
                    <button data-action="convertToGroupRelation" data-combinedShortcut="O" data-icon="fa-arrows-h"
                            class="graph-element-button"></button>
                    <button data-action="expandAll" data-icon="fa-leaf"
                            class="graph-element-button whole-graph-button"></button>
                    <button data-action="zoomIn" data-combinedShortcut="&plus;" data-icon="fa-search-plus"
                            class="graph-element-button whole-graph-button"></button>
                    <button data-action="zoomOut" data-combinedShortcut="&minus;" data-icon="fa-search-minus"
                            class="graph-element-button whole-graph-button"></button>
                    <button data-action="compare" data-icon="fa-balance-scale"
                            class="dev-only hidden graph-element-button whole-graph-button"></button>
                    <button data-action="selectTree" data-combinedShortcut="A" data-icon="fa-sitemap"
                            class="graph-element-button whole-graph-button"></button>
                    <button data-action="merge" data-icon="fa-handshake-o" data-combinedShortcut="M"
                            class="graph-element-button in-label-button"></button>
                    <button data-action="undo" data-combinedShortcut="Z" data-icon="fa-undo"
                            class="app-button graph-element-button in-label-button"></button>
                    <button data-action="redo" data-combinedShortcut="Y" data-icon="fa-repeat"
                            class="app-button graph-element-button in-label-button"></button>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="container">
    <div class="page-header hidden row" id="app-presentation" data-flow="landing">
        <div class="background"></div>
        <div class="col-md-3"></div>
        <div class="jumbotron text-center col-md-6">
            <div class="row center-block">
                <div class="col-sm-12 content">
                    <h2 class="center-block">
                        <span data-i18n="landing.slogan"></span>
                    </h2>
                    <p data-i18n="landing.description"></p>
                    <!--<a href='http://example.com/' data-intro='Hello step one!'>lalala</a>-->

                    <div>
                        <!--<button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                        <!--Use it <span class="caret"></span>-->
                        <!--</button>-->
                        <!--<ul class="dropdown-menu">-->
                        <!--<li><a href="#" id="register-button-in-page" data-i18n="top_menu.register"></a></li>-->
                        <!--<li><a href="#" id="login-button-in-page" data-i18n="top_menu.login"></a>-->
                        <!--</li>-->
                        <!--</ul>-->
                        <button id="register-button-on-page" type="button" class="btn btn-primary hidden"
                                data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false"
                                data-i18n="top_menu.register"
                        ></button>
                        <button id="login-button-on-page" type="button" class="btn btn-success hidden"
                                data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false"
                                data-i18n="top_menu.login"
                        ></button>
                        <a id="central-button-on-page" href="" class="hidden">
                            <button type="button" class="btn btn-danger" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false"
                                    data-i18n="landing.central"
                            ></button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="hidden row" id="change-password-page">
        <div class="col-lg-4">
        </div>
        <div class="col-lg-4 well well-lg">
            <div>
                <h4 data-i18n="change_password.title"></h4>
            </div>
            <div>
                <div id="change-password-dont-match"
                     class="alert alert-danger hidden"
                     data-i18n="change_password.error.match" role="alert">
                </div>
                <div id="change-password-success"
                     class="alert alert-success hidden"
                     data-i18n="change_password.success" role="alert">
                </div>
                <div id="change-password-too-short"
                     class="alert alert-danger hidden"
                     data-i18n="change_password.error.too_short" role="alert">
                </div>
                <div id="change-password-wrong"
                     class="alert alert-danger hidden"
                     data-i18n="change_password.error.wrong" role="alert">
                </div>
                <form id="change-password-form" class="security-form" role="form">
                    <div class="form-group">
                        <label for="change-password-input" class="sr-only"
                               data-i18n="change_password.input"></label>
                        <input id="change-password-input" class="form-control" type="password"
                               data-i18n="[placeholder]change_password.input">
                    </div>
                    <div class="form-group">
                        <label for="change-password-repeat-input" class="sr-only"
                               data-i18n="change_password.repeat"></label>
                        <input id="change-password-repeat-input" class="form-control" type="password"
                               data-i18n="[placeholder]change_password.repeat"/>
                    </div>
                </form>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button id="forgot-password-submit" type="button" class="btn btn-primary"
                            data-i18n="change_password.submit"></button>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
        </div>
    </div>

    <div class="row hidden" id="welcome-content" data-flow="landing">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12" style="margin-bottom:21px;">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/nK3dSxvRHvc"></iframe>
                    </div>
                </div>
            </div>
            <div class="row well">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <h2 class="text-center" data-i18n="landing.level.title"></h2>
                    <p class="text-center" data-i18n="landing.level.desc"></p>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row hidden-xs">
                <div class="col-lg-12 timeline-container">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image col-lg-">
                                <img class="img-circle img-responsive lazy"
                                     data-original="/css/images/levels/level-0-feature-square-250.jpg" alt=""
                                     height="250" width="250">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 data-i18n="landing.level.zero.level"></h4>
                                    <h4 class="subheading" data-i18n="landing.level.zero.title"></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted" data-i18n="landing.level.zero.desc"></p>
                                </div>
                            </div>
                            <div class="line "></div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive lazy"
                                     data-original="/css/images/levels/level-1-feature-square-250.jpg" height="250"
                                     width="250" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 data-i18n="landing.level.one.level"></h4>
                                    <h4 class="subheading" data-i18n="landing.level.one.title"></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted" data-i18n="landing.level.one.desc"></p>
                                </div>
                            </div>
                            <div class="line"></div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive lazy"
                                     data-original="/css/images/levels/level-2-feature-square-250.jpg" height="250"
                                     width="250" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 data-i18n="landing.level.two.level"></h4>
                                    <h4 class="subheading" data-i18n="landing.level.two.title"></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted" data-i18n="landing.level.two.desc"></p>
                                </div>
                            </div>
                            <div class="line"></div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive lazy"
                                     data-original="/css/images/levels/level-3-feature-square-250.jpg" height="250"
                                     width="250" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 data-i18n="landing.level.three.level"></h4>
                                    <h4 class="subheading" data-i18n="landing.level.three.title"></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted" data-i18n="landing.level.three.desc"></p>
                                </div>
                            </div>
                            <div class="line"></div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive lazy"
                                     data-original="/css/images/levels/level-4-feature-square-250.jpg" width="250"
                                     height="250" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 data-i18n="landing.level.four.level"></h4>
                                    <h4 class="subheading" data-i18n="landing.level.four.title"></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted" data-i18n="landing.level.four.desc"></p>
                                </div>
                            </div>
                            <div class="line"></div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image level-5-position">
                                <img class="img-circle img-responsive lazy"
                                     data-original="/css/images/levels/level-5-feature-square-250.jpg" width="250"
                                     height="250" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 data-i18n="landing.level.five.level"></h4>
                                    <h4 class="subheading" data-i18n="landing.level.five.title"></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted" data-i18n="landing.level.five.desc"></p>
                                </div>
                            </div>
                            <div class="line"></div>
                        </li>
                        <li>
                            <div class="timeline-image level-6-position">
                                <img class="img-circle img-responsive lazy"
                                     data-original="/css/images/levels/level-6-feature-square-250.jpg" width="250"
                                     height="250" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 data-i18n="landing.level.six.level"></h4>
                                    <h4 class="subheading" data-i18n="landing.level.six.title"></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted" data-i18n="landing.level.six.desc"></p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!--Duplication du contenu de la timeline pour rendre le tout lisible sur les appareils -xs -->
            <div class="row visible-xs">
                <div class="col-lg-12 timeline-container">
                    <div class="">
                        <img class="img-circle img-responsive center-block lazy"
                             data-original="/css/images/levels/level-0-feature-square-250.jpg" alt=""
                             height="250" width="250">
                    </div>
                    <div class="timeline-panel text-center">
                        <div class="timeline-heading">
                            <h4 data-i18n="landing.level.zero.level"></h4>
                            <h4 class="subheading" data-i18n="landing.level.zero.title"></h4>
                        </div>
                        <div class="timeline-body">
                            <p class="text-muted" data-i18n="landing.level.zero.desc"></p>
                        </div>
                    </div>
                    <div class="line "></div>
                    <div class="timeline-image">
                        <img class="img-circle img-responsive center-block lazy"
                             data-original="/css/images/levels/level-1-feature-square-250.jpg" height="250"
                             width="250" alt="">
                    </div>
                    <div class="timeline-panel text-center">
                        <div class="timeline-heading">
                            <h4 data-i18n="landing.level.one.level"></h4>
                            <h4 class="subheading" data-i18n="landing.level.one.title"></h4>
                        </div>
                        <div class="timeline-body">
                            <p class="text-muted" data-i18n="landing.level.one.desc"></p>
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="timeline-image">
                        <img class="img-circle img-responsive center-block lazy"
                             data-original="/css/images/levels/level-2-feature-square-250.jpg" height="250"
                             width="250" alt="">
                    </div>
                    <div class="timeline-panel text-center">
                        <div class="timeline-heading">
                            <h4 data-i18n="landing.level.two.level"></h4>
                            <h4 class="subheading" data-i18n="landing.level.two.title"></h4>
                        </div>
                        <div class="timeline-body">
                            <p class="text-muted" data-i18n="landing.level.two.desc"></p>
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="timeline-image">
                        <img class="img-circle img-responsive center-block lazy"
                             data-original="/css/images/levels/level-3-feature-square-250.jpg" height="250"
                             width="250" alt="">
                    </div>
                    <div class="timeline-panel text-center">
                        <div class="timeline-heading">
                            <h4 data-i18n="landing.level.three.level"></h4>
                            <h4 class="subheading" data-i18n="landing.level.three.title"></h4>
                        </div>
                        <div class="timeline-body">
                            <p class="text-muted" data-i18n="landing.level.three.desc"></p>
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="timeline-image">
                        <img class="img-circle img-responsive center-block lazy"
                             data-original="/css/images/levels/level-4-feature-square-250.jpg" width="250"
                             height="250" alt="">
                    </div>
                    <div class="timeline-panel text-center">
                        <div class="timeline-heading">
                            <h4 data-i18n="landing.level.four.level"></h4>
                            <h4 class="subheading" data-i18n="landing.level.four.title"></h4>
                        </div>
                        <div class="timeline-body">
                            <p class="text-muted" data-i18n="landing.level.four.desc"></p>
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="timeline-image">
                        <img class="img-circle img-responsive center-block lazy"
                             data-original="/css/images/levels/level-5-feature-square-250.jpg" width="250"
                             height="250" alt="">
                    </div>
                    <div class="timeline-panel text-center">
                        <div class="timeline-heading">
                            <h4 data-i18n="landing.level.five.level"></h4>
                            <h4 class="subheading" data-i18n="landing.level.five.title"></h4>
                        </div>
                        <div class="timeline-body">
                            <p class="text-muted" data-i18n="landing.level.five.desc"></p>
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="timeline-image">
                        <img class="img-circle img-responsive center-block lazy"
                             data-original="/css/images/levels/level-6-feature-square-250.jpg" width="250"
                             height="250" alt="">
                    </div>
                    <div class="timeline-panel text-center">
                        <div class="timeline-heading">
                            <h4 data-i18n="landing.level.six.level"></h4>
                            <h4 class="subheading" data-i18n="landing.level.six.title"></h4>
                        </div>
                        <div class="timeline-body">
                            <p class="text-muted" data-i18n="landing.level.six.desc"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row action">
                <div class="row well">
                    <div class="col-md-12 text-center">
                        <h2 data-i18n="landing.actions.link.title"></h2>

                        <p data-i18n="landing.actions.link.overview"></p>
                    </div>
                </div>
                <div class="col-md-6">
                    <ul class="descriptions">
                        <li class="list-group-item active video" data-i18n="landing.actions.link.video"
                            data-target="#linkCarousel" data-slide-to="0"></li>
                        <li class="list-group-item image" data-i18n="landing.actions.link.cut"
                            data-target="#linkCarousel" data-slide-to="1"></li>
                        <li class="list-group-item image" data-i18n="landing.actions.link.auto_wiki"
                            data-target="#linkCarousel" data-slide-to="2"></li>
                        <li class="list-group-item image" data-i18n="landing.actions.link.images"
                            data-target="#linkCarousel"
                            data-slide-to="3"></li>
                        <li class="list-group-item image" data-i18n="landing.actions.link.article_wiki"
                            data-target="#linkCarousel" data-slide-to="4"></li>
                        <li class="list-group-item image" data-i18n="landing.actions.link.date_identifier"
                            data-target="#linkCarousel" data-slide-to="5"></li>
                        <li class="list-group-item image" data-i18n="landing.actions.link.use_calendar"
                            data-target="#linkCarousel" data-slide-to="6"></li>
                        <li class="list-group-item image" data-i18n="landing.actions.link.far_link"
                            data-target="#linkCarousel" data-slide-to="7"></li>
                    </ul>
                </div>
                <div class="col-md-6 text-center">
                    <div id="linkCarousel" class="carousel carousel-fit slide" data-ride="carousel">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="carousel-caption">
                                    <p data-i18n="landing.actions.link.video"></p>
                                </div>
                                <div class="image-wrapper">
                                    <img class="video lazy"
                                         data-original="/landing-images/link/en/idea-chunks.png"
                                         width="661"
                                         height="270"
                                         data-remote="//youtube.com/embed/9iOkVJ_e-Dk?VQ=HD720"
                                         data-width="1280"
                                         data-gallery="link"
                                         data-parent="#linkCarousel" data-toggle="lightbox"
                                         data-i18n="[alt]landing.actions.link.video;[data-title]landing.actions.link.video;[data-footer]landing.video_instruction">
                                    <i class="fa fa-play-circle-o play-button"></i>
                                </div>
                            </div>
                            <div class="item">
                                <div class="carousel-caption">
                                    <p data-i18n="landing.actions.link.cut"></p>
                                </div>
                                <div class="image-wrapper">
                                    <img data-original="/landing-images/link/en/idea-chunks.png"
                                         class="lazy"
                                         width="661"
                                         height="270"
                                         data-remote="/landing-images/link/en/idea-chunks-big.png"
                                         data-gallery="link"
                                         data-parent="#linkCarousel" data-toggle="lightbox"
                                         data-i18n="[alt]landing.actions.link.cut;[data-title]landing.actions.link.cut">
                                </div>
                            </div>
                            <div class="item">
                                <div class="carousel-caption">
                                    <p data-i18n="landing.actions.link.auto_wiki"></p>
                                </div>
                                <div class="image-wrapper">
                                    <img data-original="/landing-images/link/en/autocomplete-wikipedia.png"
                                         class="lazy"
                                         width="560"
                                         height="270"
                                         data-i18n="[alt]landing.actions.link.auto_wiki;[data-title]landing.actions.link.auto_wiki"
                                         data-gallery="link"
                                         data-parent="#linkCarousel" data-toggle="lightbox"
                                         data-remote="/landing-images/link/en/autocomplete-wikipedia-big.png"
                                    >
                                </div>
                            </div>
                            <div class="item">
                                <div class="carousel-caption">
                                    <p data-i18n="landing.actions.link.images"></p>
                                </div>
                                <div class="image-wrapper">
                                    <img data-original="/landing-images/link/en/montreal-identifier.png"
                                         class="lazy"
                                         width="560"
                                         height="213"
                                         data-i18n="[alt]landing.actions.link.images;[data-title]landing.actions.link.images"
                                         data-gallery="link"
                                         data-parent="#linkCarousel" data-toggle="lightbox"
                                         data-remote="/landing-images/link/en/montreal-identifier-big.png"
                                    >
                                </div>
                            </div>
                            <div class="item">
                                <div class="carousel-caption">
                                    <p data-i18n="landing.actions.link.article_wiki"></p>
                                </div>
                                <div class="image-wrapper">
                                    <img data-original="/landing-images/link/en/wikipedia-article.png"
                                         class="lazy"
                                         width="560"
                                         height="315"
                                         data-i18n="[alt]landing.actions.link.article_wiki;[data-title]landing.actions.link.article_wiki"
                                         data-gallery="link"
                                         data-parent="#linkCarousel" data-toggle="lightbox"
                                         data-remote="/landing-images/link/en/wikipedia-article-big.png"
                                    >
                                </div>
                            </div>
                            <div class="item">
                                <div class="carousel-caption">
                                    <p data-i18n="landing.actions.link.date_identifier"></p>
                                </div>
                                <div class="image-wrapper">
                                    <img data-original="/landing-images/link/en/date-identifier.png"
                                         class="lazy"
                                         width="643"
                                         height="270"
                                         data-i18n="[alt]landing.actions.link.date_identifier;[data-title]landing.actions.link.date_identifier"
                                         data-gallery="link"
                                         data-parent="#linkCarousel" data-toggle="lightbox"
                                         data-remote="/landing-images/link/en/date-identifier-big.png"
                                    >
                                </div>
                            </div>
                            <div class="item">
                                <div class="carousel-caption">
                                    <p data-i18n="landing.actions.link.use_calendar"></p>
                                </div>
                                <div class="image-wrapper">
                                    <img data-original="/landing-images/link/en/calendar-tool.png"
                                         class="lazy"
                                         width="560"
                                         height="258"
                                         data-i18n="[alt]landing.actions.link.use_calendar;[data-title]landing.actions.link.use_calendar"
                                         data-gallery="link"
                                         data-parent="#linkCarousel" data-toggle="lightbox"
                                         data-remote="/landing-images/link/en/calendar-tool-big.png"
                                    >
                                </div>
                            </div>
                            <div class="item">
                                <div class="carousel-caption">
                                    <p data-i18n="landing.actions.link.far_link"></p>
                                </div>
                                <div class="image-wrapper">
                                    <img data-original="/landing-images/link/en/link-eventually.png"
                                         class="lazy"
                                         width="560"
                                         height="237"
                                         data-i18n="[alt]landing.actions.link.far_link;[data-title]landing.actions.link.far_link"
                                         data-gallery="link"
                                         data-parent="#linkCarousel" data-toggle="lightbox"
                                         data-remote="/landing-images/link/en/link-eventually-big.png"
                                    >
                                </div>
                            </div>
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#linkCarousel" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#linkCarousel" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row action">
                <div class="row well">
                    <div class="col-md-12 text-center">
                        <h2 data-i18n="landing.actions.find.title"></h2>

                        <p data-i18n="landing.actions.find.overview"></p>
                    </div>
                </div>
                <div class="col-md-6 col-md-push-6">
                    <ul class="descriptions">
                        <li class="list-group-item active video" data-i18n="landing.actions.find.video"
                            data-target="#findCarousel" data-slide-to="0"></li>
                        <li class="list-group-item image" data-i18n="landing.actions.find.search"
                            data-target="#findCarousel" data-slide-to="1"></li>
                        <li class="list-group-item image" data-i18n="landing.actions.find.center"
                            data-target="#findCarousel" data-slide-to="2"></li>
                        <li class="list-group-item image" data-i18n="landing.actions.find.meaning"
                            data-target="#findCarousel" data-slide-to="3"></li>
                        <li class="list-group-item image" data-i18n="landing.actions.find.history"
                            data-target="#findCarousel" data-slide-to="4"></li>
                    </ul>
                </div>
                <div class="col-md-6 text-center col-md-pull-6">
                    <div id="findCarousel" class="carousel carousel-fit slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="carousel-caption">
                                    <p data-i18n="landing.actions.find.video"></p>
                                </div>
                                <div class="image-wrapper">
                                    <img class="video lazy"
                                         data-original="/landing-images/find/en/search.png"
                                         width="560"
                                         height="245"
                                         data-remote="//youtube.com/embed/r5bw4w0TaGE?VQ=HD720"
                                         data-width="1280"
                                         data-gallery="find"
                                         data-parent="#findCarousel" data-toggle="lightbox"
                                         data-i18n="[alt]landing.actions.find.video;[data-title]landing.actions.find.video;[data-footer]landing.video_instruction">
                                    <i class="fa fa-play-circle-o play-button"></i>
                                </div>
                            </div>
                            <div class="item">
                                <div class="carousel-caption">
                                    <p data-i18n="landing.actions.find.search"></p>
                                </div>
                                <div class="image-wrapper">
                                    <img data-original="/landing-images/find/en/search.png"
                                         class="lazy"
                                         width="560"
                                         height="245"
                                         data-remote="/landing-images/find/en/search-big.png"
                                         data-gallery="find"
                                         data-parent="#findCarousel" data-toggle="lightbox"
                                         data-i18n="[alt]landing.actions.find.search;[data-title]landing.actions.find.search">
                                </div>
                            </div>
                            <div class="item">
                                <div class="carousel-caption">
                                    <p data-i18n="landing.actions.find.center"></p>
                                </div>
                                <div class="image-wrapper">
                                    <img data-original="/landing-images/find/en/center.png"
                                         class="lazy"
                                         width="560"
                                         height="203"
                                         data-remote="/landing-images/find/en/center-big.png"
                                         data-gallery="find"
                                         data-parent="#findCarousel" data-toggle="lightbox"
                                         data-i18n="[alt]landing.actions.find.center;[data-title]landing.actions.find.center">
                                </div>
                            </div>
                            <div class="item">
                                <div class="carousel-caption">
                                    <p data-i18n="landing.actions.find.meaning"></p>
                                </div>
                                <div class="image-wrapper">
                                    <img data-original="/landing-images/find/en/meaning.png"
                                         class="lazy"
                                         width="560"
                                         height="277"
                                         data-remote="/landing-images/find/en/meaning-big.png"
                                         data-gallery="find"
                                         data-parent="#findCarousel" data-toggle="lightbox"
                                         data-i18n="[alt]landing.actions.find.meaning;[data-title]landing.actions.find.meaning">
                                </div>
                            </div>
                            <div class="item">
                                <div class="carousel-caption">
                                    <p data-i18n="landing.actions.find.history"></p>
                                </div>
                                <div class="image-wrapper">
                                    <img data-original="/landing-images/find/en/history.png"
                                         class="lazy"
                                         width="560"
                                         height="118"
                                         data-remote="/landing-images/find/en/history-big.png"
                                         data-gallery="find"
                                         data-parent="#findCarousel" data-toggle="lightbox"
                                         data-i18n="[alt]landing.actions.find.history;[data-title]landing.actions.find.history">
                                </div>
                            </div>
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#findCarousel" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#findCarousel" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row action">
                <div class="row well">
                    <div class="col-md-12 text-center">
                        <h2 data-i18n="landing.actions.model.title"></h2>

                        <p data-i18n="landing.actions.model.overview"></p>
                    </div>
                </div>
                <div class="col-md-6">
                    <ul class="descriptions">
                        <li class="list-group-item active video" data-i18n="landing.actions.model.video"
                            data-target="#modelCarousel" data-slide-to="0"></li>
                        <li class="list-group-item image" data-i18n="landing.actions.model.model"
                            data-target="#modelCarousel" data-slide-to="1"></li>
                        <li class="list-group-item image" data-i18n="landing.actions.model.suggestion"
                            data-target="#modelCarousel" data-slide-to="2"></li>
                        <li class="list-group-item image" data-i18n="landing.actions.model.group"
                            data-target="#modelCarousel" data-slide-to="3"></li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <div id="modelCarousel" class="carousel carousel-fit slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="carousel-caption">
                                    <p data-i18n="landing.actions.model.video"></p>
                                </div>
                                <div class="image-wrapper">
                                    <img class="video lazy"
                                         data-original="/landing-images/model/en/model.png"
                                         width="560"
                                         height="222"
                                         data-remote="//youtube.com/embed/BhnA8spTaUs?VQ=HD720"
                                         data-width="1280"
                                         data-gallery="model"
                                         data-parent="#modelCarousel" data-toggle="lightbox"
                                         data-i18n="[alt]landing.actions.model.video;[data-title]landing.actions.model.video;[data-footer]landing.video_instruction">
                                    <i class="fa fa-play-circle-o play-button"></i>
                                </div>
                            </div>
                            <div class="item">
                                <div class="carousel-caption">
                                    <p data-i18n="landing.actions.model.model"></p>
                                </div>
                                <div class="image-wrapper">
                                    <img data-original="/landing-images/model/en/model.png"
                                         class="lazy"
                                         width="560"
                                         height="222"
                                         data-remote="/landing-images/model/en/model-big.png"
                                         data-gallery="model"
                                         data-parent="#modelCarousel" data-toggle="lightbox"
                                         data-i18n="[alt]landing.actions.model.model;[data-title]landing.actions.model.model">
                                </div>
                            </div>
                            <div class="item">
                                <div class="carousel-caption">
                                    <p data-i18n="landing.actions.model.suggestion"></p>
                                </div>
                                <div class="image-wrapper">
                                    <img data-original="/landing-images/model/en/suggestion.png"
                                         class="lazy"
                                         width="560"
                                         height="186"
                                         data-remote="/landing-images/model/en/suggestion-big.png"
                                         data-gallery="model"
                                         data-parent="#modelCarousel" data-toggle="lightbox"
                                         data-i18n="[alt]landing.actions.model.suggestion;[data-title]landing.actions.model.suggestion">
                                </div>
                            </div>
                            <div class="item">
                                <div class="carousel-caption">
                                    <p data-i18n="landing.actions.model.group"></p>
                                </div>
                                <div class="image-wrapper">
                                    <img data-original="/landing-images/model/en/group.png"
                                         class="lazy"
                                         width="560"
                                         height="214"
                                         data-remote="/landing-images/model/en/group-big.png"
                                         data-gallery="model"
                                         data-parent="#modelCarousel" data-toggle="lightbox"
                                         data-i18n="[alt]landing.actions.model.group;[data-title]landing.actions.model.group">
                                </div>
                            </div>
                        </div>
                        <!-- Controls -->
                        <a class="left carousel-control" href="#modelCarousel" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#modelCarousel" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="other-page-container" class='hidden'></div>
<div id="mind_map">
    <div id="schema-instructions" class="row hidden top-fixed">
        <div class="col-md-4"></div>
        <div class="col-md-4 text-center well well-sm">
            <h3 data-i18n="schema.instruction"></h3>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div id="other-user-menu" class="row hidden top-fixed">
        <div class="col-md-4"></div>
        <div class="col-md-4 text-center well well-sm">
            <h3>
                <span data-i18n="otherUser.1"></span>
                <a href="#" class="username" target="_blank"></a>
            </h3>
            <p class="dev-only hidden">
                <a href="#" class="copy" data-i18n="otherUser.2"></a>
                <span data-i18n="otherUser.3"></span>
            </p>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div id="compare-flow-warning" class="row hidden top-fixed">
        <div class="col-md-4"></div>
        <div class="col-md-4 text-center well well-sm">
            <h3>
                <span data-i18n="compare_flow.title"></span>
                <span data-i18n="compare_flow.with_user"></span>
                <a href="#" class="user" target="_blank"></a>
            </h3>
            <h4>
                <a href="#" class="other-user-bubble" data-i18n="compare_flow.original" target="_blank"></a>
            </h4>
            <a href="#" class="quit-flow">
                <h4 data-i18n="compare_flow.quit"></h4>
            </a>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div>
        <div id="drawn_graph" data-zoom="9" data-flow="mindMap" class="hidden"></div>
    </div>
</div>
<div class="row hidden" id="word-cloud-container">
    <div class="background"></div>
    <div class="row content">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <h2 class="text-center user-name-on-background"></h2>
            <div id="word-cloud">
                <div class="row typeFilters">
                    <div class="col-md-12">
                        <strong data-i18n="centralBubbles.typeFilter.bubbleType"></strong>
                        <label for="filter-checkbox-meta" data-i18n="[title]centralBubbles.typeFilter.tag">
                            <i class="fa fa-tag"></i>
                            <input id="filter-checkbox-meta" data-filter-name="meta"
                                   class="form-control checkbox filter-type-checkbox" name="filterTags" type="checkbox"
                                   checked="checked">
                        </label>
                        <label for="filter-checkbox-vertex" data-i18n="[title]centralBubbles.typeFilter.vertex">
                            <i class="fa fa-circle-o"></i>
                            <input id="filter-checkbox-vertex" data-filter-name="vertex"
                                   class="form-control checkbox filter-type-checkbox" name="filterVertices"
                                   type="checkbox" checked="checked">
                        </label>
                        <label for="filter-checkbox-tag" data-i18n="[title]centralBubbles.typeFilter.relation">
                            <i class="fa fa-arrows-h"></i>
                            <input id="filter-checkbox-tag" data-filter-name="relation"
                                   class="form-control checkbox filter-type-checkbox" name="filterRelations"
                                   type="checkbox" checked="checked">
                        </label>
                        <ul class="list-inline">
                            <li class="list-item">
                                <a href="#" id="addAllTypeFilters" data-i18n="centralBubbles.typeFilter.addAll"
                                   class="hidden"></a>
                            </li>
                            <li>
                                <a href="#" id="removeAllTypeFilter" data-i18n="centralBubbles.typeFilter.removeAll"
                                   class="hidden"></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="word-cloud-header">
                    <button type="button" id="create-bubble-btn"
                            class="owner-only hidden create btn btn-info pull-left"
                            data-i18n="[title]centralBubbles.createInfo">
                        <i class="fa fa-plus-circle"></i>
                    </button>
                    <button type="button" id="remove-center-btn"
                            class="owner-only remove hidden btn btn-danger pull-right"
                            data-i18n="[title]centralBubbles.removeInfo">
                        <i class="fa fa-trash"></i>
                    </button>
                </div>
                <table class="table-responsive" id="word-cloud-table"></table>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>

<!--Modals-->

<div class="modal row" id="remove-centers-confirm-menu" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span data-i18n="centralBubbles.confirmRemove.title"></span>
                </h4>
            </div>
            <div class="modal-body">
                <strong class="multiple-flow hidden" data-i18n="vertex.menu.delete.multiple"></strong>
                <ul id="remove-centers-list">
                    <li data-i18n="centralBubbles.confirmRemove.info"></li>
                </ul>
                <strong data-i18n="centralBubbles.confirmRemove.really"></strong>
                <p>
                    <em data-i18n="centralBubbles.confirmRemove.info"></em>
                </p>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>

<div class="row hidden" data-flow="schemaList" id="schemas-container">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h2 data-i18n="schemaList.title" class="text-center"></h2>
        <div class="row list"></div>
    </div>
    <div class="col-md-2"></div>
</div>

<div class="modal fade row" id="not-allowed-modal" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" data-i18n="not_allowed.title"></h4>
            </div>
            <div class="modal-body">
                <p data-i18n="not_allowed.about"></p>
                <p>
                    <a href="/" data-i18n="not_allowed.go_home"></a>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal row" id="remove-confirm-menu" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span data-i18n="vertex.menu.delete.title_prefix"></span>
                    <span class="bubble-label"></span>
                </h4>
            </div>
            <div class="modal-body">
                <strong class="multiple-flow hidden" data-i18n="vertex.menu.delete.multiple"></strong>
                <ul class="selected-bubbles"></ul>
                <strong data-i18n="vertex.menu.delete.desc1"></strong>
                <ul>
                    <li class="vertex-only" data-i18n="vertex.menu.delete.desc2"></li>
                    <li data-i18n="vertex.menu.delete.desc3"></li>
                </ul>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>

<div class="modal row" id="remove-meta-relation-confirm-menu" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <p>
                        <span data-i18n="meta_relation.deleteMenu.remove"></span>
                        <span data-i18n="meta_relation.deleteMenu.association"></span>
                        " <i class="fa fa-tag"></i> <span class="meta-label"></span>"
                    </p>
                    <p>
                        <span data-i18n="meta_relation.deleteMenu.and"></span>
                        " <i class="fa fa-circle-o bubble-icon"></i>
                        <span class="bubble-label"></span>"
                    </p>
                </h4>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>


<div class="modal fade row" id="identifiers-menu" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span data-i18n="graph_element.menu.identification.title_prefix"></span>
                    <span class="bubble-label"></span>
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="identifications col-md-12">
                        <div class='form-group'>
                            <div class="input-group">
                                <div class='input-group-addon'>
                                    <i data-toggle='tooltip'
                                       data-i18n='[title]graph_element.menu.identification.wikidata-indicator'
                                       class='active fa fa-wikipedia-w'></i>
                                </div>
                                <input type="text"
                                       data-i18n="[placeholder]graph_element.menu.identification.placeholder"
                                       class="add-identification form-control">
                            </div>
                        </div>
                        <ul class="list list-group main-list"></ul>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-lg-12 text-center">
                    <button type="button" class="cancel btn btn-success"
                            data-i18n="modal.close"></button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade row" id="image-menu" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span data-i18n="vertex.menu.image.title"></span>
                    <span data-i18n="vertex.menu.image.title_prefix"></span>
                    <span class="bubble-label"></span>
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="identifications col-md-12">
                        <section class='image-upload-wrapper text-center'>
                            <article>
                                <div class='holder'></div>
                                <div class='hidden upload'><label><input type='file'></label></div>
                                <div class='filereader'>File API & FileReader API not supported</div>
                                <div class='formdata'>XHR2's FormData is not supported</div>
                                <div class='progress'>XHR2's upload progress isn't supported</div>
                                <div>
                                    <div data-i18n='vertex.menu.image.progress'></div>
                                    <progress class='uploadprogress' min='0' max='100' value='0'></progress>
                                    <span class='progress-label'></span>
                                </div>
                            </article>
                        </section>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-lg-12 text-center">
                    <button type="button" class="cancel btn btn-success"
                            data-i18n="modal.close"></button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade row" id="non-existent-modal" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" data-i18n="non_existent.title"></h4>
            </div>
            <div class="modal-body">
                <p data-i18n="non_existent.about"></p>
                <p>
                    <a href="/" data-i18n="not_allowed.go_home"></a>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="security-form-wrapper modal fade row" id="login-page-modal" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span
                            class="sr-only">Close</span></button>
                <h4 class="modal-title" data-i18n="login.title"></h4>
            </div>
            <div class="modal-body">
                <div class="login-error alert alert-danger hidden" role="alert" data-i18n="login.error"></div>
                <div class="forgot-password-email-sent alert alert-success hidden"
                     data-i18n="forgot_password.success" role="alert">
                </div>
                <form class="login-form security-form well" role="form">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">@</div>
                            <label for="login-email-modal" class="sr-only" data-i18n="login.email"></label>
                            <input id="login-email-modal" class="login-email form-control" name="email"
                                   type="email"
                                   data-i18n="[placeholder]login.email">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-key"></i></div>
                            <label for="login-password-modal" class="sr-only" data-i18n="login.password"></label>
                            <input id="login-password-modal" class="login-password form-control" name="password"
                                   type="password"
                                   data-i18n="[placeholder]login.password"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="login-stay-connected">
                            <input id="login-stay-connected" class="form-control checkbox" name="stayConnected"
                                   type="checkbox" checked="checked"/>
                            <span data-i18n="login.stay"></span>
                        </label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="col-lg-12 text-center">
                    <button type="button" class="login-button btn btn-success"
                            data-i18n="login.login"></button>
                    <button type="button" class="forgot-password-link btn btn-primary"
                            data-i18n="forgot_password.button"></button>
                    <button type="button" class="cancel btn btn-danger"
                            data-i18n="cancel"></button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="security-form-wrapper modal fade row" id="register-page-modal" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span
                            class="sr-only">Close</span></button>
                <h4 class="modal-title" data-i18n="login.register"></h4>
            </div>
            <div class="modal-body">
                <div data-error="mandatory_user_name"
                     class="alert alert-danger hidden"
                     data-i18n="register.error.mandatory" role="alert">
                </div>
                <div data-error="invalid_user_name"
                     class="alert alert-danger hidden"
                     data-i18n="register.error.invalid" role="alert">
                </div>
                <div data-error="user_name_too_long"
                     class="alert alert-danger hidden"
                     data-i18n="register.error.too_long" role="alert">
                </div>
                <div data-error="user_name_already_registered"
                     class="alert alert-danger hidden"
                     data-i18n="register.error.taken" role="alert">
                </div>
                <div data-error="mandatory_email"
                     class="alert alert-danger hidden"
                     data-i18n="register.error.email_mandatory" role="alert">
                </div>
                <div data-error="invalid_email"
                     class="alert alert-danger hidden"
                     data-i18n="register.error.email_mandatory" role="alert">
                </div>

                <div data-error="email_too_long"
                     class="alert alert-danger hidden"
                     data-i18n="register.error.email_too_long" role="alert">
                </div>

                <div data-error="already_registered_email"
                     class="alert alert-danger hidden"
                     data-i18n="register.error.email_already_exists" role="alert">
                </div>

                <div data-error="mandatory_password"
                     class="alert alert-danger hidden"
                     data-i18n="register.error.password_mandatory" role="alert">
                </div>
                <div data-error="password_too_short"
                     class="alert alert-danger hidden"
                     data-i18n="register.error.password_too_short" role="alert">
                </div>
                <div data-error="inexistent-email"
                     class="alert alert-danger hidden"
                     data-i18n="forgot_password.error" role="alert">
                </div>
                <div class="forgot-password-email-sent alert alert-success hidden"
                     data-i18n="forgot_password.success" role="alert">
                </div>
                <form class="login-form security-form well" role="form">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="glyphicon glyphicon-user"></i></div>
                            <label for="register-username-modal" class="sr-only" data-i18n="login.email"></label>
                            <input id="register-username-modal" class="login-username form-control" name="email"
                                   type="email"
                                   data-i18n="[placeholder]login.username">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">@</div>
                            <label for="register-email-modal" class="sr-only" data-i18n="login.email"></label>
                            <input id="register-email-modal" class="login-email form-control" name="email"
                                   type="email"
                                   data-i18n="[placeholder]login.email">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-key"></i></div>
                            <label for="register-password-modal" class="sr-only" data-i18n="login.password"></label>
                            <input id="register-password-modal" class="login-password form-control" name="password"
                                   type="password"
                                   data-i18n="[placeholder]login.password"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="register-stay-connected">
                            <input id="register-stay-connected" class="form-control" name="stayConnected"
                                   checked="checked" type="checkbox"/>
                            <span data-i18n="login.stay"></span>
                        </label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <button type="button" class="register-link btn btn-success"
                                data-i18n="login.register"></button>
                        <button type="button" class="cancel btn btn-danger"
                                data-i18n="cancel"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade row" id="compare-modal" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span
                            class="sr-only" data-i18n="modal.close"></span></button>
                <h4 class="modal-title" data-i18n="compare_menu.title"></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <h3 id="compare-with-default-section" class="hidden well">
                            <a href="#">
                                <span data-i18n="compare_menu.default_compare.with"></span>
                                <span class="default-compare-label"></span>
                                <span data-i18n="compare_menu.default_compare.user"></span>
                                <span class="default-compare-user"></span>.
                            </a>
                        </h3>
                        <input id="compare-search-input" class="form-control" data-autofocus="true" type="text"
                               data-i18n="[placeholder]compare_menu.placeholder"/>
                        <div id="compare-loading" class="hidden text-center">
                            <h5 data-i18n="compare_menu.loading"></h5>
                            <div class="animation">
                                <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade row" id="bubble-note-modal" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span
                            class="sr-only" data-i18n="modal.close"></span></button>
                <h4 class="modal-title">
                    <span data-i18n="vertex.menu.note.title_prefix"></span><span class='bubble-label-in-title'></span>
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="btn-toolbar" data-role="editor-toolbar"
                             data-target="#editor">
                            <div class="btn-group">
                                <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="Font Size"><i
                                            class="fa fa-text-height"></i>&nbsp;<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a data-edit="fontSize 5" class="fs-Five">Huge</a></li>
                                    <li><a data-edit="fontSize 3" class="fs-Three">Normal</a></li>
                                    <li><a data-edit="fontSize 1" class="fs-One">Small</a></li>
                                </ul>
                            </div>
                            <div class="btn-group">
                                <a class="btn btn-default" data-edit="bold" title="Bold (Ctrl/Cmd+B)"><i
                                            class="fa fa-bold"></i></a>
                                <a class="btn btn-default" data-edit="italic" title="Italic (Ctrl/Cmd+I)"><i
                                            class="fa fa-italic"></i></a>
                                <a class="btn btn-default" data-edit="strikethrough" title="Strikethrough"><i
                                            class="fa fa-strikethrough"></i></a>
                                <a class="btn btn-default" data-edit="underline" title="Underline (Ctrl/Cmd+U)"><i
                                            class="fa fa-underline"></i></a>
                            </div>
                            <div class="btn-group">
                                <a class="btn btn-default" data-edit="insertunorderedlist" title="Bullet list"><i
                                            class="fa fa-list-ul"></i></a>
                                <a class="btn btn-default" data-edit="insertorderedlist" title="Number list"><i
                                            class="fa fa-list-ol"></i></a>
                                <a class="btn btn-default" data-edit="outdent" title="Reduce indent (Shift+Tab)"><i
                                            class="fa fa-outdent"></i></a>
                                <a class="btn btn-default" data-edit="indent" title="Indent (Tab)"><i
                                            class="fa fa-indent"></i></a>
                            </div>
                            <div class="btn-group">
                                <a class="btn btn-default" data-edit="justifyleft" title="Align Left (Ctrl/Cmd+L)"><i
                                            class="fa fa-align-left"></i></a>
                                <a class="btn btn-default" data-edit="justifycenter" title="Center (Ctrl/Cmd+E)"><i
                                            class="fa fa-align-center"></i></a>
                                <a class="btn btn-default" data-edit="justifyright" title="Align Right (Ctrl/Cmd+R)"><i
                                            class="fa fa-align-right"></i></a>
                                <a class="btn btn-default" data-edit="justifyfull" title="Justify (Ctrl/Cmd+J)"><i
                                            class="fa fa-align-justify"></i></a>
                            </div>
                            <div class="btn-group">
                                <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="Hyperlink"><i
                                            class="fa fa-link"></i></a>

                                <div class="dropdown-menu input-append">
                                    <input placeholder="URL" type="text" data-edit="createLink"/>
                                    <button class="btn" type="button">Add</button>
                                </div>
                            </div>
                            <div class="btn-group">
                                <a class="btn btn-default" data-edit="unlink" title="Remove Hyperlink"><i
                                            class="fa fa-unlink"></i></a>
                            </div>
                            <div class="btn-group">
                                <a class="btn btn-default" data-edit="undo" title="Undo (Ctrl/Cmd+Z)"><i
                                            class="fa fa-undo"></i></a>
                                <a class="btn btn-default" data-edit="redo" title="Redo (Ctrl/Cmd+Y)"><i
                                            class="fa fa-repeat"></i></a>
                                <a class="btn btn-default" data-edit="html" title="Clear Formatting"><i
                                            class='glyphicon glyphicon-pencil'></i></a>
                            </div>
                        </div>
                        <div id="editor" class="editor"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-lg-12 text-center">
                    <button type="button" class="save btn btn-success"
                            data-i18n="vertex.menu.note.update"></button>
                    <button type="button" class="cancel btn btn-danger"
                            data-i18n="vertex.menu.note.cancel"></button>

                </div>
            </div>
        </div>
    </div>
</div>
<div id="bubble-images" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <img src="" class="img-responsive">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="bigImageModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <img src="" class="img-responsive">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="search-popover" class="hidden">
    <div class="row">
        <div class="col-md-3 img"></div>
        <div class="col-md-9">
            <strong data-i18n="vertex.search.source"></strong>:
            <span class="source"></span>
            <div class="description"></div>
        </div>
    </div>
</div>
<div id="merge-popover" class="hidden">
    <form class="" role="form">
        <div class="form-group">
            <label for="" class="sr-only"
                   data-i18n="merge.placeholder"></label>
            <input id="" class="form-control merge-input" type="text"
                   data-i18n="[placeholder]merge.placeholder">
        </div>
    </form>
</div>
<footer data-flow="landing" class="hidden"><span class="fa fa-copyright"></span> Copyleft - MindRespect -
    <a data-i18n='[href]top_menu.contribute_link'>
        <span data-i18n='top_menu.contribute'></span>
        <i class="fa fa-code"></i>
    </a>
</footer>

<script>
    var bubl_guru_force_refresh = "<%= bust %>";
    var usernameForBublGuru = "<%= usernameForBublGuru %>";
    var graphElementTypeForBublGuru = "<%= graphElementTypeForBublGuru %>";
    var graphElementShortIdForBublGuru = "<%= graphElementShortIdForBublGuru %>";
    var bublGuruFlow = "<%= bublGuruFlow %>";
</script>
<% if(isDebug){ %>
<script src="/js/common-boot.js"></script>
<script src="/js/mind_map-boot.js"></script>
<% } else { %>
<script src="/js/mind-map-built.js?bust=<%= bust %>"></script>
<% } %>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-66591585-1', 'auto');
    ga('send', 'pageview');
</script>
</body>
</html>