<!DOCTYPE html>
<!--
  ~ Copyright Vincent Blouin under the GPL License version 3
  -->

<html lang="en-au">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>bubl.guru</title>
    <link rel="stylesheet" href="/css/twitter_bootstrap/3.3.4/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/twitter_bootstrap/3.3.4/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/twitter_bootstrap/3.3.4/css/bootstrap-datepicker3.min.css"/>
    <link rel="stylesheet" href="/css/twitter_bootstrap/ekko-lightbox.min.css"/>
    <link rel="stylesheet" href="/css/twitter_bootstrap/bootstrap-modal-carousel.min.css"/>
    <link rel="stylesheet" href="/css/jquery/jquery-ui-11-4/jquery-ui.min.css"/>
    <link rel="stylesheet" href="/css/jquery/colorbox/colorbox.css"/>
    <link rel="stylesheet" href="/css/application.css"/>
    <link rel="stylesheet" href="/font-awesome-4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/js/bower_components/google-code-prettify/src/prettify.css"/>
    <!--Modules-->
    <link rel="stylesheet" href="/js/module/date_picker/date-picker.css"/>
    <script src="/js/require.js"></script>
</head>
<body class='hidden' id="body">
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" id="logo" href="/">bubl.guru</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <form class="navbar-form navbar-left" role="search" id="header-search-form">
                        <div class="form-group form-group-lg">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-search search-icon"></i>
                                </div>
                                <input type='text' id="landing-page-search" class='form-control input-lg hidden'
                                       data-i18n="[placeholder]search.big.placeholder"/>
                                <input id="vertex-search-input" data-i18n="[placeholder]left_menu.search"
                                       class='form-control input-lg hidden'>
                            </div>
                        </div>
                    </form>
                </li>
                <li class="dropdown">
                    <a data-toggle="dropdown" data-i18n='top_menu.connect' id="connect-menu-button"></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <li>
                            <a href="#" id="register-button" data-i18n="top_menu.register"></a>
                        </li>
                        <li>
                            <a href="#" id="login-button" data-i18n="top_menu.login"></a>
                        </li>
                    </ul>
                </li>
                <!--<li class="dropdown">-->
                <!--<a href="/" id="all-your-bubbles-button" data-i18n='top_menu.central'></a>-->
                <!--</li>-->
                <!--<li class="dropdown">-->
                <!--<a href="/schemas" data-i18n='top_menu.schemas'></a>-->
                <!--</li>-->
                <!--<li class="dropdown">-->
                <!--<a href="#" id="save-as-image-button" data-i18n='top_menu.save_as_image' class="hidden"></a>-->
                <!--</li>-->
                <!--<li class="dropdown">-->
                <!--<a id="select-button" class="hidden" data-toggle="dropdown"-->
                <!--data-i18n='top_menu.selection.title'></a>-->
                <!--<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">-->
                <!--<li>-->
                <!--<a href="" id="select-all-bubbles" role="menuitem">-->
                <!--<span data-i18n='top_menu.selection.bubbles'></span>-->
                <!--</a>-->
                <!--</li>-->
                <!--<li>-->
                <!--<a href="" id="select-all-relations" role="menuitem"-->
                <!--data-i18n='top_menu.selection.relations'></a>-->
                <!--</li>-->
                <!--</ul>-->
                <!--</li>-->
                <li class="dropdown" id="bubble-menu">
                    <a data-toggle="dropdown" data-i18n='top_menu.bubble'></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <li>
                            <a href="" id="create-concept" class="create icon" role="menuitem"
                               data-i18n='top_menu.create'></a>
                        </li>
                        <li class="dropdown">
                            <a href="/" id="all-your-bubbles-button" class="view icon" data-i18n='top_menu.central'></a>
                        </li>
                        <li>
                            <a href="" id="select-all-bubbles" role="menuitem">
                                <span data-i18n='top_menu.select'></span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown" id="schema-menu">
                    <a data-toggle="dropdown" data-i18n='top_menu.schema'></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <li>
                            <a href="" id="create-schema" class="create icon" role="menuitem"
                               data-i18n='top_menu.create'></a>
                        </li>
                        <li>
                            <a href="/schemas" class="view icon" data-i18n='top_menu.schemas'></a>
                        </li>
                    </ul>
                </li>
                <!--<li class="dropdown" id="create-menu">-->
                <!--<a data-toggle="dropdown" data-i18n='top_menu.create.title'></a>-->
                <!--<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">-->
                <!--<li>-->
                <!--<a href="" id="create-concept" role="menuitem"-->
                <!--data-i18n='top_menu.create.bubble'></a>-->
                <!--</li>-->
                <!--<li>-->
                <!--<a href="" id="create-schema" role="menuitem"-->
                <!--data-i18n='top_menu.create.schema'></a>-->
                <!--</li>-->
                <!--</ul>-->
                <!--</li>-->
                <li id="language-selector-container">
                    <a data-toggle="dropdown">
                        <span data-i18n='top_menu.language'></span>
                        <i class="fa fa-language"></i>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <li>
                            <a href="" data-lang="en" role="menuitem">
                                English
                            </a>
                        </li>
                        <li>
                            <a href="" data-lang="fr" role="menuitem">
                                Français
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown" id="user-menu">
                    <a href="" role="menuitem" id="disconnect-btn">
                        <span data-i18n='top_menu.disconnect'></span>
                        <i class="fa fa-sign-out"></i>
                    </a>
                </li>
                <li>
                    <a href="http://about.bubl.guru">
                        <span data-i18n="login.about"></span>
                        <i class="fa fa-info-circle"></i>
                    </a>
                </li>
                <li>
                    <a class="hidden" id="share-link" href="#" target="_blank">
                        <span data-i18n="top_menu.share"></span>
                        <i class="fa fa-share-alt"></i>
                    </a>
                    <input type="text" class="hidden form-control input-lg" id="share-link-input">
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<div class="container">
    <div class="page-header hidden" id="app-presentation" data-flow="landing">
        <div class="background"></div>
        <div class="jumbotron text-center">
            <div class="container">
                <h2 class="text-center">
                    <span data-i18n="landing.slogan"></span>
                </h2>

                <p data-i18n="landing.description"></p>

                <div>
                    <!--<button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                    <!--Use it <span class="caret"></span>-->
                    <!--</button>-->
                    <!--<ul class="dropdown-menu">-->
                    <!--<li><a href="#" id="register-button-in-page" data-i18n="top_menu.register"></a></li>-->
                    <!--<li><a href="#" id="login-button-in-page" data-i18n="top_menu.login"></a>-->
                    <!--</li>-->
                    <!--</ul>-->
                    <button id="register-button-in-page" type="button" class="btn btn-primary" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false"
                            data-i18n="top_menu.register"
                    ></button>
                    <button id="login-button-in-page" type="button" class="btn btn-success" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false"
                            data-i18n="top_menu.login"
                    ></button>
                </div>
            </div>
        </div>
        <!--<div class="background"></div>-->
        <!--<div class="row message">-->
        <!--<div class="col-md-4"></div>-->
        <!--<div class="col-md-4"><h2>Votre esprit est un temple</h2></div>-->
        <!--<div class="col-md-4"></div>-->
        <!--</div>-->
        <!--<h1>bubl.guru</h1>-->
        <!--<h4 data-i18n="landing.description"></h4>-->
    </div>
    <div class="hidden row" id="change-password-page">
        <div class="col-lg-4">
        </div>
        <div class="col-lg-4 well well-lg">
            <div>
                <h4 data-i18n="change_password.title"></h4>
            </div>
            <div>
                <div id="change-password-dont-match"
                     class="alert alert-danger hidden"
                     data-i18n="change_password.error.match" role="alert">
                </div>
                <div id="change-password-success"
                     class="alert alert-success hidden"
                     data-i18n="change_password.success" role="alert">
                </div>
                <div id="change-password-too-short"
                     class="alert alert-danger hidden"
                     data-i18n="change_password.error.too_short" role="alert">
                </div>
                <div id="change-password-wrong"
                     class="alert alert-danger hidden"
                     data-i18n="change_password.error.wrong" role="alert">
                </div>
                <form id="change-password-form" class="security-form" role="form">
                    <div class="form-group">
                        <label for="change-password-input" class="sr-only" data-i18n="change_password.input"></label>
                        <input id="change-password-input" class="form-control" type="password"
                               data-i18n="[placeholder]change_password.input">
                    </div>
                    <div class="form-group">
                        <label for="change-password-repeat-input" class="sr-only"
                               data-i18n="change_password.repeat"></label>
                        <input id="change-password-repeat-input" class="form-control" type="password"
                               data-i18n="[placeholder]change_password.repeat"/>
                    </div>
                </form>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button id="forgot-password-submit" type="button" class="btn btn-primary"
                            data-i18n="change_password.submit"></button>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
        </div>
    </div>

    <div class="row hidden" id="welcome-content" data-flow="landing">
        <div class="container-fluid">
            <div class="row action">
                <div class="row jumbotron">
                    <div class="col-md-12 text-center">
                        <h2 data-i18n="landing.actions.link.title"></h2>

                        <p data-i18n="landing.actions.link.overview"></p>
                    </div>
                </div>
                <div class="col-md-6">
                    <ul class="descriptions">
                        <li class="list-group-item active video" data-i18n="landing.actions.link.video"
                            data-target="#linkCarousel" data-slide-to="0"></li>
                        <li class="list-group-item image" data-i18n="landing.actions.link.cut"
                            data-target="#linkCarousel" data-slide-to="1"></li>
                        <li class="list-group-item image" data-i18n="landing.actions.link.auto_wiki"
                            data-target="#linkCarousel" data-slide-to="2"></li>
                        <li class="list-group-item image" data-i18n="landing.actions.link.images"
                            data-target="#linkCarousel"
                            data-slide-to="3"></li>
                        <li class="list-group-item image" data-i18n="landing.actions.link.article_wiki"
                            data-target="#linkCarousel" data-slide-to="4"></li>
                        <li class="list-group-item image" data-i18n="landing.actions.link.date_identifier"
                            data-target="#linkCarousel" data-slide-to="5"></li>
                        <li class="list-group-item image" data-i18n="landing.actions.link.use_calendar"
                            data-target="#linkCarousel" data-slide-to="6"></li>
                        <li class="list-group-item image" data-i18n="landing.actions.link.far_link"
                            data-target="#linkCarousel" data-slide-to="7"></li>
                    </ul>
                </div>
                <div class="col-md-6 text-center">
                    <div id="linkCarousel" class="carousel carousel-fit slide" data-ride="carousel">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="carousel-caption">
                                    <p data-i18n="landing.actions.link.video"></p>
                                </div>
                                <div class="image-wrapper">
                                    <img class="video" src="/landing-images/link/en/idea-chunks.png"
                                         data-remote="//youtube.com/embed/9iOkVJ_e-Dk?VQ=HD720"
                                         data-width="1280"
                                         data-gallery="link"
                                         data-parent="#linkCarousel" data-toggle="lightbox"
                                         data-i18n="[alt]landing.actions.link.video;[data-title]landing.actions.link.video;[data-footer]landing.video_instruction">
                                    <i class="fa fa-play-circle-o play-button"></i>
                                </div>
                            </div>
                            <div class="item">
                                <div class="carousel-caption">
                                    <p data-i18n="landing.actions.link.cut"></p>
                                </div>
                                <div class="image-wrapper">
                                    <img src="/landing-images/link/en/idea-chunks.png"
                                         data-remote="/landing-images/link/en/idea-chunks-big.png"
                                         data-gallery="link"
                                         data-parent="#linkCarousel" data-toggle="lightbox"
                                         data-i18n="[alt]landing.actions.link.cut;[data-title]landing.actions.link.cut">
                                </div>
                            </div>
                            <div class="item">
                                <div class="carousel-caption">
                                    <p data-i18n="landing.actions.link.auto_wiki"></p>
                                </div>
                                <div class="image-wrapper">
                                    <img src="/landing-images/link/en/autocomplete-wikipedia.png"
                                         data-i18n="[alt]landing.actions.link.auto_wiki;[data-title]landing.actions.link.auto_wiki"
                                         data-gallery="link"
                                         data-parent="#linkCarousel" data-toggle="lightbox"
                                         data-remote="/landing-images/link/en/autocomplete-wikipedia-big.png"
                                    >
                                </div>
                            </div>
                            <div class="item">
                                <div class="carousel-caption">
                                    <p data-i18n="landing.actions.link.images"></p>
                                </div>
                                <div class="image-wrapper">
                                    <img src="/landing-images/link/en/montreal-identifier.png"
                                         data-i18n="[alt]landing.actions.link.images;[data-title]landing.actions.link.images"
                                         data-gallery="link"
                                         data-parent="#linkCarousel" data-toggle="lightbox"
                                         data-remote="/landing-images/link/en/montreal-identifier-big.png"
                                    >
                                </div>
                            </div>
                            <div class="item">
                                <div class="carousel-caption">
                                    <p data-i18n="landing.actions.link.article_wiki"></p>
                                </div>
                                <div class="image-wrapper">
                                    <img src="/landing-images/link/en/wikipedia-article.png"
                                         data-i18n="[alt]landing.actions.link.article_wiki;[data-title]landing.actions.link.article_wiki"
                                         data-gallery="link"
                                         data-parent="#linkCarousel" data-toggle="lightbox"
                                         data-remote="/landing-images/link/en/wikipedia-article-big.png"
                                    >
                                </div>
                            </div>
                            <div class="item">
                                <div class="carousel-caption">
                                    <p data-i18n="landing.actions.link.date_identifier"></p>
                                </div>
                                <div class="image-wrapper">
                                    <img src="/landing-images/link/en/date-identifier.png"
                                         data-i18n="[alt]landing.actions.link.date_identifier;[data-title]landing.actions.link.date_identifier"
                                         data-gallery="link"
                                         data-parent="#linkCarousel" data-toggle="lightbox"
                                         data-remote="/landing-images/link/en/date-identifier-big.png"
                                    >
                                </div>
                            </div>
                            <div class="item">
                                <div class="carousel-caption">
                                    <p data-i18n="landing.actions.link.use_calendar"></p>
                                </div>
                                <div class="image-wrapper">
                                    <img src="/landing-images/link/en/calendar-tool.png"
                                         data-i18n="[alt]landing.actions.link.use_calendar;[data-title]landing.actions.link.use_calendar"
                                         data-gallery="link"
                                         data-parent="#linkCarousel" data-toggle="lightbox"
                                         data-remote="/landing-images/link/en/calendar-tool-big.png"
                                    >
                                </div>
                            </div>
                            <div class="item">
                                <div class="carousel-caption">
                                    <p data-i18n="landing.actions.link.far_link"></p>
                                </div>
                                <div class="image-wrapper">
                                    <img src="/landing-images/link/en/link-eventually.png"
                                         data-i18n="[alt]landing.actions.link.far_link;[data-title]landing.actions.link.far_link"
                                         data-gallery="link"
                                         data-parent="#linkCarousel" data-toggle="lightbox"
                                         data-remote="/landing-images/link/en/link-eventually-big.png"
                                    >
                                </div>
                            </div>
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#linkCarousel" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#linkCarousel" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row action">
                <div class="row jumbotron">
                    <div class="col-md-12 text-center">
                        <h2 data-i18n="landing.actions.find.title"></h2>

                        <p data-i18n="landing.actions.find.overview"></p>
                    </div>
                </div>
                <div class="col-md-6 col-md-push-6">
                    <ul class="descriptions">
                        <li class="list-group-item active video" data-i18n="landing.actions.find.video"
                            data-target="#findCarousel" data-slide-to="0"></li>
                        <li class="list-group-item image" data-i18n="landing.actions.find.search"
                            data-target="#findCarousel" data-slide-to="1"></li>
                        <li class="list-group-item image" data-i18n="landing.actions.find.center"
                            data-target="#findCarousel" data-slide-to="2"></li>
                        <li class="list-group-item image" data-i18n="landing.actions.find.meaning"
                            data-target="#findCarousel" data-slide-to="3"></li>
                        <li class="list-group-item image" data-i18n="landing.actions.find.history"
                            data-target="#findCarousel" data-slide-to="4"></li>
                    </ul>
                </div>
                <div class="col-md-6 text-center col-md-pull-6">
                    <div id="findCarousel" class="carousel carousel-fit slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="carousel-caption">
                                    <p data-i18n="landing.actions.find.video"></p>
                                </div>
                                <div class="image-wrapper">
                                    <img class="video" src="/landing-images/find/en/search.png"
                                         data-remote="//youtube.com/embed/r5bw4w0TaGE?VQ=HD720"
                                         data-width="1280"
                                         data-gallery="find"
                                         data-parent="#findCarousel" data-toggle="lightbox"
                                         data-i18n="[alt]landing.actions.find.video;[data-title]landing.actions.find.video;[data-footer]landing.video_instruction">
                                    <i class="fa fa-play-circle-o play-button"></i>
                                </div>
                            </div>
                            <div class="item">
                                <div class="carousel-caption">
                                    <p data-i18n="landing.actions.find.search"></p>
                                </div>
                                <div class="image-wrapper">
                                    <img src="/landing-images/find/en/search.png"
                                         data-remote="/landing-images/find/en/search-big.png"
                                         data-gallery="find"
                                         data-parent="#findCarousel" data-toggle="lightbox"
                                         data-i18n="[alt]landing.actions.find.search;[data-title]landing.actions.find.search">
                                </div>
                            </div>
                            <div class="item">
                                <div class="carousel-caption">
                                    <p data-i18n="landing.actions.find.center"></p>
                                </div>
                                <div class="image-wrapper">
                                    <img src="/landing-images/find/en/center.png"
                                         data-remote="/landing-images/find/en/center-big.png"
                                         data-gallery="find"
                                         data-parent="#findCarousel" data-toggle="lightbox"
                                         data-i18n="[alt]landing.actions.find.center;[data-title]landing.actions.find.center">
                                </div>
                            </div>
                            <div class="item">
                                <div class="carousel-caption">
                                    <p data-i18n="landing.actions.find.meaning"></p>
                                </div>
                                <div class="image-wrapper">
                                    <img src="/landing-images/find/en/meaning.png"
                                         data-remote="/landing-images/find/en/meaning-big.png"
                                         data-gallery="find"
                                         data-parent="#findCarousel" data-toggle="lightbox"
                                         data-i18n="[alt]landing.actions.find.meaning;[data-title]landing.actions.find.meaning">
                                </div>
                            </div>
                            <div class="item">
                                <div class="carousel-caption">
                                    <p data-i18n="landing.actions.find.history"></p>
                                </div>
                                <div class="image-wrapper">
                                    <img src="/landing-images/find/en/history.png"
                                         data-remote="/landing-images/find/en/history-big.png"
                                         data-gallery="find"
                                         data-parent="#findCarousel" data-toggle="lightbox"
                                         data-i18n="[alt]landing.actions.find.history;[data-title]landing.actions.find.history">
                                </div>
                            </div>
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#findCarousel" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#findCarousel" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row action">
                <div class="row jumbotron">
                    <div class="col-md-12 text-center">
                        <h2 data-i18n="landing.actions.model.title"></h2>

                        <p data-i18n="landing.actions.model.overview"></p>
                    </div>
                </div>
                <div class="col-md-6">
                    <ul class="descriptions">
                        <li class="list-group-item active video" data-i18n="landing.actions.model.video"
                            data-target="#modelCarousel" data-slide-to="0"></li>
                        <li class="list-group-item image" data-i18n="landing.actions.model.model"
                            data-target="#modelCarousel" data-slide-to="1"></li>
                        <li class="list-group-item image" data-i18n="landing.actions.model.suggestion"
                            data-target="#modelCarousel" data-slide-to="2"></li>
                        <li class="list-group-item image" data-i18n="landing.actions.model.group"
                            data-target="#modelCarousel" data-slide-to="3"></li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <div id="modelCarousel" class="carousel carousel-fit slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="carousel-caption">
                                    <p data-i18n="landing.actions.model.video"></p>
                                </div>
                                <div class="image-wrapper">
                                    <img class="video" src="/landing-images/model/en/model.png"
                                         data-remote="//youtube.com/embed/BhnA8spTaUs?VQ=HD720"
                                         data-width="1280"
                                         data-gallery="model"
                                         data-parent="#modelCarousel" data-toggle="lightbox"
                                         data-i18n="[alt]landing.actions.model.video;[data-title]landing.actions.model.video;[data-footer]landing.video_instruction">
                                    <i class="fa fa-play-circle-o play-button"></i>
                                </div>
                            </div>
                            <div class="item">
                                <div class="carousel-caption">
                                    <p data-i18n="landing.actions.model.model"></p>
                                </div>
                                <div class="image-wrapper">
                                    <img src="/landing-images/model/en/model.png"
                                         data-remote="/landing-images/model/en/model-big.png"
                                         data-gallery="model"
                                         data-parent="#modelCarousel" data-toggle="lightbox"
                                         data-i18n="[alt]landing.actions.model.model;[data-title]landing.actions.model.model">
                                </div>
                            </div>
                            <div class="item">
                                <div class="carousel-caption">
                                    <p data-i18n="landing.actions.model.suggestion"></p>
                                </div>
                                <div class="image-wrapper">
                                    <img src="/landing-images/model/en/suggestion.png"
                                         data-remote="/landing-images/model/en/suggestion-big.png"
                                         data-gallery="model"
                                         data-parent="#modelCarousel" data-toggle="lightbox"
                                         data-i18n="[alt]landing.actions.model.suggestion;[data-title]landing.actions.model.suggestion">
                                </div>
                            </div>
                            <div class="item">
                                <div class="carousel-caption">
                                    <p data-i18n="landing.actions.model.group"></p>
                                </div>
                                <div class="image-wrapper">
                                    <img src="/landing-images/model/en/group.png"
                                         data-remote="/landing-images/model/en/group-big.png"
                                         data-gallery="model"
                                         data-parent="#modelCarousel" data-toggle="lightbox"
                                         data-i18n="[alt]landing.actions.model.group;[data-title]landing.actions.model.group">
                                </div>
                            </div>
                        </div>
                        <!-- Controls -->
                        <a class="left carousel-control" href="#modelCarousel" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#modelCarousel" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="other-page-container" class='hidden'></div>
<div id="mind_map">
    <div id="schema-instructions" class="row hidden top-fixed">
        <div class="col-md-4"></div>
        <div class="col-md-4 text-center">
            <h3 data-i18n="schema.instruction"></h3>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div id="other-user-menu" class="row hidden top-fixed">
        <div class="col-md-4"></div>
        <div class="col-md-4 text-center">
            <h3>
                <span data-i18n="otherUser.1"></span>
                <a href="#" class="username"></a>
            </h3>
            <p>
                <a href="#" class="copy" data-i18n="otherUser.2"></a>
                <span data-i18n="otherUser.3"></span>
            </p>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div id="compare-flow-warning" class="row hidden top-fixed">
        <div class="col-md-4"></div>
        <div class="col-md-4 text-center">
            <h3>
                <span data-i18n="compare_flow.title"></span>
                <span data-i18n="compare_flow.with_user"></span>
                <a href="#" class="user" target="_blank"></a>
            </h3>
            <a href="#" class="quit-flow">
                <h4 data-i18n="compare_flow.quit"></h4>
            </a>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div>
        <div id="drawn_graph" data-zoom="9" data-flow="mindMap" class="hidden"></div>
        <div id="graph-element-menu" class="main-panel hidden-sm hidden-xs hidden" data-flow="mindMap">
            <button data-action="expandAll" data-icon="fa-leaf"
                    class="graph-element-button whole-graph-button"></button>
            <button data-action="accept" data-icon="fa-check" class="graph-element-button"></button>
            <button data-action="zoomIn" data-icon="fa-search-plus"
                    class="graph-element-button whole-graph-button"></button>
            <button data-action="zoomOut" data-icon="fa-search-minus"
                    class="graph-element-button whole-graph-button"></button>
            <button data-action="compare" data-icon="fa-balance-scale"
                    class="graph-element-button whole-graph-button"></button>
            <button data-action="select" data-icon="fa-square-o"
                    class="graph-element-button whole-graph-button"></button>
            <button data-action="group" data-icon="fa-compress" class="graph-element-button"></button>
            <button data-action="addChild" data-icon="fa-arrow-right" class="graph-element-button"></button>
            <button data-action="addSibling" data-icon="fa-arrows-v" class="graph-element-button"></button>
            <button data-action="connectTo" data-icon="fa-paper-plane-o" class="graph-element-button"></button>
            <button data-action="subElements" data-icon="fa-expand" class="graph-element-button"></button>
            <button data-action="reverseToRight" data-icon="fa-share" class="graph-element-button"></button>
            <button data-action="reverseToLeft" data-icon="fa-reply" class="graph-element-button"></button>
            <button data-action="center" data-icon="fa-bullseye" class="graph-element-button"></button>
            <button data-action="identify" data-icon="fa-info-circle"
                    class="graph-element-button in-label-button"></button>
            <button data-action="suggestions" data-icon="fa-lightbulb-o"
                    class="suggestion graph-element-button"></button>
            <button data-action="images" data-icon="fa-picture-o" class="graph-element-button"></button>
            <button data-action="note" data-icon="fa-book"
                    class="note-button graph-element-button in-label-button"></button>
            <button data-action="makePublic" data-icon="fa-unlock"
                    class="graph-element-button in-label-button"></button>
            <button data-action="makePrivate" data-icon="fa-lock"
                    class="graph-element-button in-label-button"></button>
            <button data-action="remove" data-icon="fa-trash-o" class="graph-element-button"></button>
            <button data-action="visitOtherInstances" data-icon="fa fa-link"
                    class="graph-element-button in-label-button"></button>
        </div>
    </div>
</div>
<div class="row hidden" id="word-cloud-container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h2 data-i18n="wordcloud.title" class="text-center"></h2>
            <div id="word-cloud"></div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

<div class="row hidden" data-flow="schemaList" id="schemas-container">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h2 data-i18n="schemaList.title" class="text-center"></h2>
        <div class="row list"></div>
    </div>
    <div class="col-md-2"></div>
</div>

<div class='frontier left-frontier'></div>
<div class='frontier right-frontier'></div>
<div class='frontier top-frontier'></div>
<div class='frontier bottom-frontier'></div>
<div id="selection-box" class='hidden'></div>
</div>

<div class="security-form-wrapper modal fade row" id="login-page-modal" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span
                            class="sr-only">Close</span></button>
                <h4 class="modal-title" data-i18n="login.title"></h4>
            </div>
            <div class="modal-body">
                <div class="login-error alert alert-danger hidden" role="alert" data-i18n="login.error"></div>
                <div class="forgot-password-email-sent alert alert-success hidden"
                     data-i18n="forgot_password.success" role="alert">
                </div>
                <form class="login-form security-form well" role="form">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">@</div>
                            <label for="login-email-modal" class="sr-only" data-i18n="login.email"></label>
                            <input id="login-email-modal" class="login-email form-control" name="email"
                                   type="email"
                                   data-i18n="[placeholder]login.email">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></div>
                            <label for="login-password-modal" class="sr-only" data-i18n="login.password"></label>
                            <input id="login-password-modal" class="login-password form-control" name="password"
                                   type="password"
                                   data-i18n="[placeholder]login.password"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="col-lg-12 text-center">
                    <button type="button" class="login-button btn btn-success"
                            data-i18n="login.login"></button>
                    <button type="button" class="forgot-password-link btn btn-primary"
                            data-i18n="forgot_password.button"></button>
                    <button type="button" class="cancel btn btn-danger"
                            data-i18n="cancel"></button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="security-form-wrapper modal fade row" id="register-page-modal" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span
                            class="sr-only">Close</span></button>
                <h4 class="modal-title" data-i18n="login.register"></h4>
            </div>
            <div class="modal-body">
                <div data-error="mandatory_user_name"
                     class="alert alert-danger hidden"
                     data-i18n="register.error.mandatory" role="alert">
                </div>
                <div data-error="invalid_user_name"
                     class="alert alert-danger hidden"
                     data-i18n="register.error.invalid" role="alert">
                </div>
                <div data-error="user_name_too_long"
                     class="alert alert-danger hidden"
                     data-i18n="register.error.too_long" role="alert">
                </div>
                <div data-error="user_name_already_registered"
                     class="alert alert-danger hidden"
                     data-i18n="register.error.taken" role="alert">
                </div>
                <div data-error="mandatory_email"
                     class="alert alert-danger hidden"
                     data-i18n="register.error.email_mandatory" role="alert">
                </div>
                <div data-error="invalid_email"
                     class="alert alert-danger hidden"
                     data-i18n="register.error.email_mandatory" role="alert">
                </div>

                <div data-error="email_too_long"
                     class="alert alert-danger hidden"
                     data-i18n="register.error.email_too_long" role="alert">
                </div>

                <div data-error="already_registered_email"
                     class="alert alert-danger hidden"
                     data-i18n="register.error.email_already_exists" role="alert">
                </div>

                <div data-error="mandatory_password"
                     class="alert alert-danger hidden"
                     data-i18n="register.error.password_mandatory" role="alert">
                </div>
                <div data-error="password_too_short"
                     class="alert alert-danger hidden"
                     data-i18n="register.error.password_too_short" role="alert">
                </div>
                <div data-error="inexistent-email"
                     class="alert alert-danger hidden"
                     data-i18n="forgot_password.error" role="alert">
                </div>
                <div class="forgot-password-email-sent alert alert-success hidden"
                     data-i18n="forgot_password.success" role="alert">
                </div>
                <form class="login-form security-form well" role="form">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="glyphicon glyphicon-user"></i></div>
                            <label for="register-username-modal" class="sr-only" data-i18n="login.email"></label>
                            <input id="register-username-modal" class="login-username form-control" name="email"
                                   type="email"
                                   data-i18n="[placeholder]login.username">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">@</div>
                            <label for="register-email-modal" class="sr-only" data-i18n="login.email"></label>
                            <input id="register-email-modal" class="login-email form-control" name="email"
                                   type="email"
                                   data-i18n="[placeholder]login.email">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></div>
                            <label for="register-password-modal" class="sr-only" data-i18n="login.password"></label>
                            <input id="register-password-modal" class="login-password form-control" name="password"
                                   type="password"
                                   data-i18n="[placeholder]login.password"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <button type="button" class="register-link btn btn-success"
                                data-i18n="login.register"></button>
                        <button type="button" class="cancel btn btn-danger"
                                data-i18n="cancel"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade row" id="compare-modal" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span
                            class="sr-only" data-i18n="modal.close"></span></button>
                <h4 class="modal-title" data-i18n="compare_menu.title"></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <input id="compare-search-input" class="form-control" data-autofocus="true" type="text"
                               data-i18n="[placeholder]compare_menu.placeholder"/>
                        <div id="compare-loading" class="hidden text-center">
                            <h5 data-i18n="compare_menu.loading"></h5>
                            <div class="animation">
                                <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade row" id="bubble-note-modal" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span
                            class="sr-only" data-i18n="modal.close"></span></button>
                <h4 class="modal-title">
                    <span data-i18n="vertex.menu.note.title_prefix"></span><span class='bubble-label-in-title'></span>
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="btn-toolbar" data-role="editor-toolbar"
                             data-target="#editor">
                            <div class="btn-group">
                                <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="Font Size"><i
                                            class="fa fa-text-height"></i>&nbsp;<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a data-edit="fontSize 5" class="fs-Five">Huge</a></li>
                                    <li><a data-edit="fontSize 3" class="fs-Three">Normal</a></li>
                                    <li><a data-edit="fontSize 1" class="fs-One">Small</a></li>
                                </ul>
                            </div>
                            <div class="btn-group">
                                <a class="btn btn-default" data-edit="bold" title="Bold (Ctrl/Cmd+B)"><i
                                            class="fa fa-bold"></i></a>
                                <a class="btn btn-default" data-edit="italic" title="Italic (Ctrl/Cmd+I)"><i
                                            class="fa fa-italic"></i></a>
                                <a class="btn btn-default" data-edit="strikethrough" title="Strikethrough"><i
                                            class="fa fa-strikethrough"></i></a>
                                <a class="btn btn-default" data-edit="underline" title="Underline (Ctrl/Cmd+U)"><i
                                            class="fa fa-underline"></i></a>
                            </div>
                            <div class="btn-group">
                                <a class="btn btn-default" data-edit="insertunorderedlist" title="Bullet list"><i
                                            class="fa fa-list-ul"></i></a>
                                <a class="btn btn-default" data-edit="insertorderedlist" title="Number list"><i
                                            class="fa fa-list-ol"></i></a>
                                <a class="btn btn-default" data-edit="outdent" title="Reduce indent (Shift+Tab)"><i
                                            class="fa fa-outdent"></i></a>
                                <a class="btn btn-default" data-edit="indent" title="Indent (Tab)"><i
                                            class="fa fa-indent"></i></a>
                            </div>
                            <div class="btn-group">
                                <a class="btn btn-default" data-edit="justifyleft" title="Align Left (Ctrl/Cmd+L)"><i
                                            class="fa fa-align-left"></i></a>
                                <a class="btn btn-default" data-edit="justifycenter" title="Center (Ctrl/Cmd+E)"><i
                                            class="fa fa-align-center"></i></a>
                                <a class="btn btn-default" data-edit="justifyright" title="Align Right (Ctrl/Cmd+R)"><i
                                            class="fa fa-align-right"></i></a>
                                <a class="btn btn-default" data-edit="justifyfull" title="Justify (Ctrl/Cmd+J)"><i
                                            class="fa fa-align-justify"></i></a>
                            </div>
                            <div class="btn-group">
                                <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="Hyperlink"><i
                                            class="fa fa-link"></i></a>

                                <div class="dropdown-menu input-append">
                                    <input placeholder="URL" type="text" data-edit="createLink"/>
                                    <button class="btn" type="button">Add</button>
                                </div>
                            </div>
                            <div class="btn-group">
                                <a class="btn btn-default" data-edit="unlink" title="Remove Hyperlink"><i
                                            class="fa fa-unlink"></i></a>
                            </div>
                            <div class="btn-group">
                                <a class="btn btn-default" data-edit="undo" title="Undo (Ctrl/Cmd+Z)"><i
                                            class="fa fa-undo"></i></a>
                                <a class="btn btn-default" data-edit="redo" title="Redo (Ctrl/Cmd+Y)"><i
                                            class="fa fa-repeat"></i></a>
                                <a class="btn btn-default" data-edit="html" title="Clear Formatting"><i
                                            class='glyphicon glyphicon-pencil'></i></a>
                            </div>
                        </div>
                        <div id="editor" class="editor"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-lg-12 text-center">
                    <button type="button" class="save btn btn-success"
                            data-i18n="vertex.menu.note.update"></button>
                    <button type="button" class="cancel btn btn-danger"
                            data-i18n="vertex.menu.note.cancel"></button>

                </div>
            </div>
        </div>
    </div>
</div>
<div id="bigImageModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <img src="" class="img-responsive">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var bubl_guru_force_refresh = "<%= bust %>";
    var usernameForBublGuru = "<%= usernameForBublGuru %>";
    var graphElementTypeForBublGuru = "<%= graphElementTypeForBublGuru %>";
    var graphElementShortIdForBublGuru = "<%= graphElementShortIdForBublGuru %>";
    var bublGuruFlow = "<%= bublGuruFlow %>";
</script>
<% if(isDebug){ %>
<script src="/js/common-boot.js"></script>
<script src="/js/mind_map-boot.js"></script>
<% } else { %>
<script src="/js/mind-map-built.js?bust=<%= bust %>"></script>
<% } %>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-66591585-1', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>